.layer {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    background-color: #000;
    }

.layer h1{
        position: absolute;
        font-size: 35px;
        top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      width: 400px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      padding-top: 30px;
      padding-bottom: 30px;
        }

.shadow{
  position: relative;
  width: 920px;
  height: 480px;
  margin: 0 auto;
  display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.shadow::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 10px 15px rgb(0, 0, 0);
}


body{
  text-align: center;
  color: #515151;
}

h1{color: #000;}


/* -------------------- */
main .h2 h2{
    color:#fff;
    border-bottom: 5px dashed #fff;
}
/* --------------------- */




main .map{
    padding: 50px 0;
}


/* -------------------- */
main .content{
    background-color: #030d29;
    padding: 50px 0 20px 0;
}

main .content p{
  text-align: justify;
}

main .content .box{
    margin-bottom: 30px;
    background-color: #eadec3;
    padding: 30px;
    justify-content: space-around;
}

main .content .box p{
    padding: 30px;
    width: 400px;
}

.blue{
    background-color: #030d29;
}

/* レスポンシブ */

@media screen and (max-width:640px) {

  /* 下層共通 */
  .layer{
    padding-bottom: 20px;
  }
  
  .layer .shadow{
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .layer h1{
    width: auto;
    font-size: 20px;
    padding: 15px;
  }
  /* ----------- */
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 4;
  }
  .order4 {
    order: 3;
  }

  /* ----------- */
  main .map{
    padding: 30px 0 40px 0;
  }

  main .map .map_i{
    width: 95%;
    margin: 0 auto;
  }

  main .content{
    padding-top: 30px;
    width: 95%;
    margin: 0 auto;
  }

  

  main .content .box p{
    padding: 10px;
    width: auto;
}

  
}