.layer {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    background-color: #000;
    }

.layer h1{
        position: absolute;
        color: #515151;
        font-size: 35px;
        top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      width: 400px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      padding-top: 30px;
      padding-bottom: 30px;
        }

.shadow{
  position: relative;
  width: 920px;
  height: 480px;
  margin: 0 auto;
}

.shadow::after{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 15px 15px 15px 15px rgb(0, 0, 0);
}


body{
  text-align: center;
  color: #515151;
  background-image: url(../images/question/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main .content{
    background-color: #fff;
    padding: 100px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}

main .content dl a{
  color: #4b77b1;
}

main h3{
    color: #181866;
    margin-bottom: 15px;
    padding-top: 30px;
}

main dl{
    padding-bottom: 30px;
    border-bottom: 1px solid #e6aa3b;


}

main dl dt{
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #fffebb;
}

main dl dd{
    margin-bottom: 5px;
}


/* レスポンシブ */

@media screen and (max-width:640px) {

  /* 下層共通 */
  .layer{
    padding-bottom: 20px;
  }
  
  .layer .shadow{
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .layer h1{
    width: auto;
    font-size: 20px;
    padding: 15px;
  }
  /* ----------- */

  main .content{
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    width: 95%;
    margin:50px auto;
}

}
